*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1{
    font-size: 2rem;
    color: rgb(231, 136, 13);
}

.post {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

#post {
    border: 5px solid rgb(231, 136, 13);
    border-radius: 10px;
}

.pfp {
    display: flex;
    align-items: flex-start;
    width: 10;
}

#pfp {
    border: 5px solid rgb(231, 136, 13);
    border-radius: 100px;
}